$searchboxFontSize: 3em;
$searchIconColor:#9E9E9E;
$headerColor: #404040;
$subTitleColor:#505050;
$textColor:#9E9E9E;
$borderColor: #8E8E8E;
$titleLeftPadding: 18px;
$subtitleTopPadding:5px;
$subtitleBottomPadding:5px;
$resultRightPadding:20px;

/* Styling for SearchBox*/
.ais-Autocomplete input{
    display:none !important;
}
input.ais-SearchBox-input {
    width: 100%;
    font-size: $searchboxFontSize;
    padding-left:$titleLeftPadding;
    
}
svg.ais-SearchBox-submitIcon {
    width: 3em!important;
    height: 3em!important;
    /* stroke-width: 16px !important; */
}
button.ais-SearchBox-reset {
    display: none;
}
svg.ais-SearchBox-submitIcon path {
    stroke: $searchIconColor;
    stroke-width: 3.5px;
    -webkit-text-stroke-width: 4px !important;
    transform: scale(0.7);
    transform: translate(7px,7px) scale(0.7);
}
form.ais-SearchBox-form {
    display: flex;
}
button.ais-SearchBox-submit {
    background: transparent;
    border: none;
    margin-left: -5em;
    width: 5em;
    height: 5em;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 3;
}
/* Styling for Result*/
.resultHits {
    border: 1.5px solid #8E8E8E;
    margin-top: 1.5em;
    min-height: 50vh !important;
}
.resultTitle {
    font-weight: 700;
    font-size: 1.5em !important;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.5em !important;
    margin: 0em;
    padding: 0.5em 0.5em 0 $titleLeftPadding;
    color:$headerColor;

}
hr.resultTitleHR {
    margin: 0px !important;
    border: 1px solid $borderColor;
}
hr.itemHR
{
    margin: $titleLeftPadding 0!important;
    margin-right:$resultRightPadding !important;
    border: 1px solid $borderColor;
}
.subTitle{
    padding-left:$titleLeftPadding !important;
    padding-top: $subtitleTopPadding !important;
    padding-bottom: $subtitleBottomPadding !important;
    margin:0px !important;
    text-transform: capitalize;
    font-size:1.2em !important;
    font-weight:600;
    color:$subTitleColor;
}
.result-items ul{
    padding-left:$titleLeftPadding;
}

.result-item.row {
    display: flex;
    margin:0;
}
.result-item .content {
    padding-left: 1em;
    padding-right: 1em;
}
.result-item img.profileImg {
    width: 5em !important;
    margin-top:10px;
}
.result-item  p {
    font-size: 15px !important;
}
.ais-Highlight
{
    font-weight:700 !important;
    font-size:15px !important;
}

.empty.profileImg
{
    filter:grayscale(100%);
}

.content.noresult
{
    padding-left:$titleLeftPadding;
}

.content.noresult button {
    margin-top: 2em;
    margin-bottom:2em;
}